# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Environment variables
.env

# Logs
*.log

# Generated documents
*.pdf
*.docx
*.xls
*.xlsx

# Databases
*.db
instance/
uploads/
*.db.bak

# ReportLab temp files
*.rltemp

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
